<footer id="footer">
    <div id="subscription" class="with-footer">
        <div class="inner wrapper">
            <div class="row collapse">
                <div class="large-8 column">
                    <div id="block-simplenewssubscription"
                         class="block block-simplenews simplenews-subscription-block simplenews-subscriptions-block-5803b928-a64e-499f-86e8-bb6d4cf78cd0 simplenews-subscriber-form">
                        <div class="inner">
                            <div class="title">
                                <h3>Simplenews subscription</h3>
                            </div>
                            <div class="content clearfix">
                                <form action="/demo/portal/news/" method="post"
                                      id="simplenews-subscriptions-block-5803b928-a64e-499f-86e8-bb6d4cf78cd0"
                                      accept-charset="UTF-8">
                                    <div class="field--type-simplenews-subscription field--name-subscriptions field--widget-simplenews-subscription-select js-form-wrapper form-wrapper"
                                         data-drupal-selector="edit-subscriptions-wrapper"
                                         id="edit-subscriptions-wrapper"></div>
                                    <div id="edit-message"
                                         class="js-form-item form-item js-form-type-item form-item-message js-form-item-message form-no-label">
                                        Stay informed - subscribe to our newsletter.
                                    </div>
                                    <input data-drupal-selector="form-7acwrnxnww1r6ptnb-cuqwjres4ugmj8vhkm13haqz0"
                                           type="hidden" name="form_build_id"
                                           value="form-7AcWrnxNwW1R6PtNb-CUQWjrEs4UgMj8vhKM13HaqZ0"/>
                                    <input data-drupal-selector="edit-simplenews-subscriptions-block-5803b928-a64e-499f-86e8-bb6d4cf78cd0"
                                           type="hidden" name="form_id"
                                           value="simplenews_subscriptions_block_5803b928-a64e-499f-86e8-bb6d4cf78cd0"/>
                                    <div class="field--type-email field--name-mail field--widget-email-default js-form-wrapper form-wrapper"
                                         data-drupal-selector="edit-mail-wrapper"
                                         id="edit-mail-wrapper">
                                        <div class="js-form-item form-item js-form-type-email form-item-mail-0-value js-form-item-mail-0-value">
                                            <label for="edit-mail-0-value"
                                                   class="js-form-required form-required">Email</label>
                                            <input data-drupal-selector="edit-mail-0-value"
                                                   aria-describedby="edit-mail-0-value--description"
                                                   type="email" id="edit-mail-0-value"
                                                   name="mail[0][value]" value="" size="60"
                                                   maxlength="254" placeholder=""
                                                   class="form-email required" required="required"
                                                   aria-required="true"/>
                                            <div id="edit-mail-0-value--description"
                                                 class="description">
                                                The subscriber's email address.
                                            </div>
                                        </div>
                                    </div>
                                    <div data-drupal-selector="edit-actions"
                                         class="form-actions js-form-wrapper form-wrapper"
                                         id="edit-actions--2"><input
                                            data-drupal-selector="edit-subscribe" type="submit"
                                            id="edit-subscribe" name="op" value="Subscribe"
                                            class="button js-form-submit form-submit"/>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="large-4 column">
                    <div class="social-media">
                        <div id="block-socialmedialinks"
                             class="block block-social-media-links social-media-links-block block-social-media-links">
                            <div class="inner">
                                <div class="content clearfix">
                                    <ul class="platforms inline horizontal">
                                        <li>
                                            <a href="https://www.facebook.com/https://www.facebook.com/example">
                                                <span class='fa fa-facebook fa-lg'></span>
                                            </a></li>
                                        <li>
                                            <a href="https://plus.google.com/https://plus.google.com/example">
                                                <span class='fa fa-google-plus fa-lg'></span>
                                            </a></li>
                                        <li>
                                            <a href="http://www.linkedin.com/http://www.linkedin.com/example">
                                                <span class='fa fa-linkedin fa-lg'></span>
                                            </a></li>
                                        <li>
                                            <a href="http://www.pinterest.com/http://www.pinterest.com/example">
                                                <span class='fa fa-pinterest fa-lg'></span>
                                            </a></li>
                                        <li>
                                            <a href="https://www.twitter.com/https://www.twitter.com/example">
                                                <span class='fa fa-twitter fa-lg'></span>
                                            </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-middle">
        <div class="inner wrapper">
            <div class="row medium-up-2 large-up-4 collapse">
                <div class="column">
                    <nav role="navigation" aria-labelledby="block-footerinternational-menu"
                         id="block-footerinternational" class="block">
                        <div class="inner"><h2 id="block-footerinternational-menu">International</h2>
                            <ul class="vertical menu">
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Asia
                                        Pacific</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">London</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">New
                                        York</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">European
                                        Region</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="column">
                    <nav role="navigation" aria-labelledby="block-footerkeepintouch-menu"
                         id="block-footerkeepintouch" class="block">
                        <div class="inner"><h2 id="block-footerkeepintouch-menu">Keep in Touch</h2>
                            <ul class="vertical menu">
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Newsletter</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Applications</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Subscribe</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Feeds</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="column">
                    <nav role="navigation" aria-labelledby="block-footersiteinfo-menu"
                         id="block-footersiteinfo" class="block">
                        <div class="inner"><h2 id="block-footersiteinfo-menu">Site Info</h2>
                            <ul class="vertical menu">
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">User
                                        Agreement</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Privacy
                                        Policy</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Terms
                                        and Conditions</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="column">
                    <nav role="navigation" aria-labelledby="block-footersupport-menu"
                         id="block-footersupport" class="block">
                        <div class="inner"><h2 id="block-footersupport-menu">Support</h2>
                            <ul class="vertical menu">
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Careers</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Contact
                                        Info</a>
                                </li>
                                <li>
                                    <a href="/demo/portal/news/"
                                       data-drupal-link-system-path="&lt;front&gt;" class="is-active">Site
                                        Map</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div id="closure">
        <div class="inner wrapper">
            <div id="site-info-alter" class="text-center">
                <div class="site-logo">
                    <a href="/demo/portal/news/" title="Home" rel="home">
                        <img src="../../assets/img/general/logo_0.png" alt="Home"/>
                    </a>
                </div>
                <div class="site-slogan">
                    Get the latest news, trend &amp; hot destination!
                </div>
            </div>
            <nav role="navigation" aria-labelledby="block-portal-news-footer-menu"
                 id="block-portal-news-footer" class="block">
                <div class="inner"><h2 class="visually-hidden" id="block-portal-news-footer-menu">Footer
                    menu</h2>
                    <div id="footer-menu" class="menu-centered">
                        <ul class="menu">
                            <li>
                                <a href="/demo/portal/news/"
                                   data-drupal-link-system-path="&lt;front&gt;"
                                   class="is-active">Home</a>
                            </li>
                            <li>
                                <a href="/demo/portal/news/"
                                   data-drupal-link-system-path="&lt;front&gt;"
                                   class="is-active">News</a>
                            </li>
                            <li>
                                <a href="/demo/portal/news/"
                                   data-drupal-link-system-path="&lt;front&gt;" class="is-active">Business</a>
                            </li>
                            <li>
                                <a href="/demo/portal/news/"
                                   data-drupal-link-system-path="&lt;front&gt;"
                                   class="is-active">Auto</a>
                            </li>
                            <li>
                                <a href="/demo/portal/news/"
                                   data-drupal-link-system-path="&lt;front&gt;"
                                   class="is-active">Life</a>
                            </li>
                            <li>
                                <a href="/demo/portal/news/"
                                   data-drupal-link-system-path="&lt;front&gt;"
                                   class="is-active">Travel</a>
                            </li>
                            <li>
                                <a href="/demo/portal/news/blog" data-drupal-link-system-path="blog">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="design-by show-for-large">
                <a href="http://www.esors.com" title="Drupal theme">Drupal theme by esors</a>
            </div>
        </div>
    </div>
</footer>